@mixin promo-form-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: black;
}
.promo-with-number {
    position: relative;
    z-index: 1;
    margin-top: -3px;
    width: 1280px;
    height: 720px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    aside.number-promo-aside {
        height: 100%;
        width: 380px;
        background: #86d3f4;
        padding: 72px 48px;
        .number-promo-form {
            display: block;
            width: 100%;
            height: 100%;
            .number-promo-header {
                h1.number-promo-header-text {
                    @include promo-form-text;
                    font-size: 26px;
                    text-align: center;
                    line-height: 30px;
                }
            }
            .input-holder {
                margin-top: 13px;
                display: flex;
                flex-direction: column;
                &__input {
                    background: transparent;
                    outline: none;
                    @include promo-form-text;
                    font-weight: bold;
                    font-size: 32px;
                    text-align: center;
                    letter-spacing: 1px;
                    border: none;
                    caret-color: transparent;
                }
                &__input.error {
                    color: red;
                }
                &__description {
                    margin-top: 13px;
                    @include promo-form-text;
                    font-size: 14px;
                    text-align: center;
                }
            }

            .checking-status {
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                img {
                    width: 70px;
                }
                p {
                    align-items: center;
                    @include promo-form-text;
                    color: #565656;
                    font-size: 14px;
                }
                p.error-notification {
                    @include promo-form-text;
                    color: red;
                    font-size: 14px;
                }
            }
            .agree-policy-block {
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                input.agree-checkbox {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }
                .agree-checkbox + label {
                    cursor: pointer;
                    display: inline-flex;
                    align-items: center;
                    user-select: none;
                    @include promo-form-text;
                    color: #565656;
                    font-size: 14px;
                }
                .agree-checkbox + label::before {
                    content: "";
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border: 2px solid #000000;
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin-right: 20px;
                }
                .agree-checkbox:checked + label::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.06066' y1='11.5659' x2='8.06066' y2='18.5659' stroke='black' stroke-width='3'/%3E%3Cline x1='6.2953' y1='18.5659' x2='22.9218' y2='1.9394' stroke='black' stroke-width='3'/%3E%3C/svg%3E%0A");
                }
            }
            a.button_select-number {
                display: flex;
                text-decoration: none;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                margin-top: 13px;
                background: transparent;
                width: 100%;
                padding: 16px 19px;
                @include promo-form-text;
                font-size: 16px;
                text-transform: uppercase;
                color: white;
                background: black;
                border: 1px solid black;
                transition: 0.2s;
            }
            a.button_select-number.disabled {
                font-weight: 500;
                pointer-events: none;
                background: transparent;
                color: #4e4e4e;
                border: 1px solid #4e4e4e;
            }
            a.button_select-number.active {
                color: black;
                background: white;
            }
        }
    }
}
