* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    .main-page-smarttv-wrap {
        position: absolute;
        display: block;
        width: 1306px;
        height: 755px;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
}
